# Tools for DataScience

Data science is one of the broadest fields available for individuals with a mathematical or statistical background. There are plenty of open positions that require data science skills.

# DataScience Languages

1. Python,
2. R,
3. SQL (Structured Query Language),
4. Julia,
5. Scala,
6. Java,
7. MATLAB

# Datascience Libraries

1. Tensorflow
2. Numpy
3. Scipy
4. Pandas
5. Matplotlib
6. keras
7. Scikit Learn
8. Pytorch

In [9]:
import pandas as pd
import numpy as np

In [7]:
df = pd.DataFrame()

In [ ]:
["SAS","Hadoop","TensorFlow"]

In [11]:
datasci=np.array(["SAS","Hadoop","TensorFlow"])

In [12]:
df=pd.DataFrame({"Tools for datascience":datasci})

In [13]:
df

  Tools for datascience
0                   SAS
1                Hadoop
2            TensorFlow

Below are the few examples of evaluating arthemetic expressions in python

In [2]:
#this is an example of how we are going to do arthemetic operations
3*4 + 12

24

In [3]:
#converting minutes to hours
200/60

3.3333333333333335

# Objectives

<ul>
   <li>List popular langauges of Data Science
   <li>list popular libraries of Data Science
   <li>List of well known  language of Data science
 </ul>

# Author

vishnu

1.vishnu
2.nayak